.main-table {
    font-family: "Arimo";
    margin: 10vh auto 0;
    border: 20px solid #3A4965;
    background-color: #FAFAFA;
}

.table-header, .table-div {
    color: #484848;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
}

.table-div {
    height: 165px;
    line-height: 24px;
}

.table-div.light-green,
.table-div.red,
.table-div.table-div.swamp-green {
    line-height: 28px;
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.table-header {
    font-weight: 700;
    font-size: 20px;
    height: 115px;
    width: 160px;
    border-bottom: 15px solid #3A4965;
    line-height: 28px;
}

.main-header {
    font-size: 14px;
    width: 201px;
}

.main-header>strong {
    font-size: 20px;
}

.grey {
    background-color: #E3E3E3;
}

.bordered {
    border: 1px solid #d9d9d9;
}

.table-div.light-green {
    background-color: #89C331;
}

.table-div.red {
    background-color: #F04A56;
}

.table-div.swamp-green {
    background-color: #20807C;
}

.price-div {
    height: 89px;
    font-size: 18px;
}

.price-container {
    padding-top: 13px;
}

.price {
    vertical-align: middle;
    position: relative;
    font-size: 36px;
    font-weight: 700;
}

.price::after {
    content: ".99";
    top: -3px;
    right: -27px;
    position: absolute;
    font-size: 18px;
}

.per-month {
    display: inline-block;
    margin-left: 25px;
    font-size: 14px;
}

.button {
    margin-top: 8px;
    width: 147px;
    height: 44px;
    background-color: #414141;
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    border-bottom: 4px solid #343434;
    border-radius: 5px;
}

.button:active{
    border-bottom: 0;
}