.main-table {
    font-family: "Arimo";
    margin: 10vh auto 0;
    border: 20px solid #3A4965;
    background-color: #F2F2F2;
}

.table-header, .table-div {
    color: #484848;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
}

.table-div {
    font-size: 1rem;
    border: 1px solid #d9d9d9;
}

.normal-height-row {
    height: 72px;
}

.light-grey-section {
    background-color: #F2F2F2;
}

.grey-section {
    background-color: #E3E3E3;
}

.table-header {
    font-weight: 700;
    font-size: 18px;
    height: 73px;
    width: 284px;
}

.main-header>strong {
    font-size: 30px;
}

.main-header {
    width: 313px;
}
    
.table-header.light-green {
    color: white;
    font-size: 24px;
    background-color: #89C331;
}

.table-header.red {
    color: white;
    font-size: 30px;
    background-color: #F04A56;
}

.table-header.swamp-green {
    color: white;
    font-size: 24px;
    background-color: #20807C;
}

.price-div {
    height: 89px;
    font-size: 18px;
}

.price {
    vertical-align: middle;
    position: relative;
    font-size: 60px;
    font-weight: 700;
}

.price::after {
    content: ".99";
    position: absolute;
    top: -6px;
    right: -35px;
    font-size: 24px;
}

.button-row {
    height: 110px;
}

.button {
    width: 192px;
    height: 51px;
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    border-bottom: 9px solid;
    border-radius: 5px;
}

.button:active{
    margin-top: 9px;
    border-bottom: 0;
}

.button.grey {
    background-color: #484848;
    border-color: #404040;
}

.button.light-green {
    background-color: #89C331;
    border-color: #79B027;
}

.button.red {
    background-color: #F04A56;
    border-color: #DF3A46;
}

.button.swamp-green {
    background-color: #20807C;
    border-color: #16736F;
}